.list {
  display: flex;
  gap: 30px;
}

.active {
  display: inline-block;

  opacity: 1;

  transition: opacity 0.25s ease-in-out;
}

.link {
  opacity: 0.7;
  transition: opacity 0.25s ease-in-out;

  &:hover,
  &:focus {
    opacity: 1;
  }
}