.list {
  display: flex;
  gap: 30px;
}

.active {
  display: inline-block;

  transform: scale(1.2);
  text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;

  transition: transform 0.25s ease-in-out, text-shadow 0.25s ease-in-out;
}

.link {
  transition: text-shadow 0.25s ease-in-out;

  &:hover,
  &:focus {
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
  }
}