.wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}

.logoutBtn {
  padding: 2px 0 3px !important;

  cursor: pointer;
  opacity: 0.5;

  transition: opacity 0.25s ease-out;

  &:hover,
  &:focus {
    opacity: 1;
  }
}
