body {
  margin: 0;
  padding: 0 15px;
  min-height: 100vh;

  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

p {
  margin: 0;
}

a {
  color: inherit;
  font-size: inherit;
  text-decoration: none;
}

.authMsg {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 5px;
}

.errorMsg {
  position: absolute;
  right: 0;
  bottom: -20px;
  color: red;
}

.inputErr {
  border-color: red;
}

.link {
  padding: 6px 16px;
  display: block;

  font-size: 14px !important;
  text-transform: uppercase;
  text-align: center;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}