.wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}

.logoutBtn {
  cursor: pointer;
  opacity: 0.5;

  transition: opacity 0.25s ease-out;
}

.logoutBtn:hover,
.logoutBtn:focus {
  opacity: 1;
}